name: Build APK

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install System Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential git zip unzip openjdk-17-jdk autoconf libtool pkg-config zlib1g-dev libncurses5-dev libncursesw5-dev libtinfo5 cmake libffi-dev libssl-dev libsqlite3-dev liblzma-dev libgdbm-dev libreadline-dev uuid-dev ffmpeg
          
      - name: Install Buildozer
        run: |
          pip install --upgrade pip
          pip install buildozer Cython==0.29.36
          
      - name: Build with Buildozer
        run: |
          yes | buildozer android debug --verbose

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: marto-app
          path: bin/*.apk
